@inherits LayoutComponentBase

<div class="display-layout">
    <main>
        @Body
    </main>
</div>

<style>
    .display-layout {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
</style>
